<!DOCTYPE html>
<!--id_find-->
<html>
<head>
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="static/css/style.css">
    <style>
       
    </style>
</head>

<body>
    <div class="jb-container">
        <div class="jb-item">
            <div>
                <h3>아이디를 잊어버리셨나요?</h3>
            </div>
            <div style="width: 310px; height: auto; margin: 0 auto;">
                <p>이메일</p>
                <input class="input" type="email" name="email" placeholder="가입 시 등록한 이메일을 입력하세요.">
                <br>
                <p>연락처</p>
                <input class="input2" type="text" name="tel" placeholder="전화번호를 입력하세요.">
                <input type="submit" onclick="alert('인증되었습니다')" stlye="width:65px;" value="인증하기">
                <br>
                <input class="input" type="text" name="number" placeholder="인증번호를 입력하세요.">
                <br>      
                <div style="text-align: center;">
                    <a href="login.html"><button class="button">아이디 찾기</button></a>
               </div>
            </div>
        </div>
    </div>
</body>
</html>