<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>join</title>
    <link rel="stylesheet" href="static/css/join.css">
    
</head>


<body>
    
    <div style= "text-align: center">
        <h1>회원가입</h1>
    </div>
    <div >
    
        <p>
            <label for="uid"> 아이디 </label><br>
            
            <input  class="input1" type="text"  name="uid" id="uid" style="width: 200px;">
            <button type="button" onclick="id_check();"style="position: relative;
            left:8%">중복확인</button>
           
           <div style= "font-size: small;" id="noUid"></div>
        </p>

        <p>
            <label for="email"> 이메일 </label><br>
            <input class="input1" placeholder="이메일을 형식에 맞게 입력해주세요."type="text" id="email" name="email" >
            <div style= "font-size: small;" id="noEmail"></div>
        </p>

        <p>
            <label for="password"> 비밀번호 </label><br>
            <input class="input1" placeholder="영문자+숫자+특수조합(8~25자리 입력)"type="password" id="pwd" name="password" >
            <div style= "font-size: small;" id="noPwd"></div>
        </p>

        <p>
            <label for="password"> 비밀번호 확인 </label><br>
            <input class="input1" type="password" id="repwd" name="password" >
            <div style= "font-size: small;" id="noRepwd"></div>
        </p>

        <p>
            <label for="nickname"> 닉네임(별명) </label><br>
            <input class="input1" type="text"  id="nickname" name="nickname" >
            <div style= "font-size: small;" id="noNickname"></div>
        </p>

        <p>
            <label for="username"> 이름 </label><br>
            <input class="input1" type="text" id="username" name="username" >
            <div style= "font-size: small;" id="noUsername"></div>
        </p>

        <p>
            <label for="phone"> 연락처 </label><br>
            <input class="input1" placeholder="전화번호를 입력해 주세요."type="text" id="phone" name="phone" style="width: 200px;" >
            <button type="button" onclick=""style="position: relative;
            left:8%">인증하기</button>
            <div style= "font-size: small;" id="noPhone"></div>
        
            <input class="input1" placeholder="인증번호를 입력해 주세요."type="text"  name="phone" >
        </p>

        <p>
            <label for="birthday"> 생년월일 </label><br>
            <input class="input1" placeholder="ex)101010" type="text" id="birth" name="birth" >
            <div style= "font-size: small;" id="noBirth"></div>
        </p>
        </div>
        <div >
        <p>
            <label for="sex"> 성별 </label><br>
            <input  type="radio"  name="sex" value="m" id="male" >
			<label for="male"> 남성 </label>
			<input  type="radio"  name="sex" value="f" id="female" >
			<label for="female"> 여성 </label>
            <div style= "font-size: small;" id="noSex"></div>
        </p>

        <p> 
            <label for="agree"> 약관동의 </label><br>
            <input type="checkbox" name="agree1" id="agree1">
            <label for="agree1"> 모든약관에 동의합니다. </label><br>	 
            <input type="checkbox"  name="agree2"id="agree2">
            <label for="agree2"> 개인정보 취급방침에 동의합니다. </label><br>	 
            <input type="checkbox"  name="agree3" id="agree3">
            <label for="agree3"> 푸시알림수신에 동의합니다. </label><br>
            <div style= "font-size: small;" id="noAgree"></div>
        </p>
        </div>
    </div>

    <div>
            <button class="button1" name="join" type="button" onclick="joinCheck()"
            style="height:30px; width:200px; margin:20px;">회원가입</button>
    </div>
    
</body>
<script src="static/js/join.js"></script>

</html>