<!DOCTYPE html>
<html>
<!--login.html-->

<head>
  <title>로그인 페이지</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/style.css">
  <style>
    body{
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="jb-container">
    <div class="jb-item">
      <div style="font-size:44px; margin: 20px;">
        <b>PROJECT</b>
      </div>

      <form action="main.html">
        <input class="input" type="text" name="u_id" placeholder="아이디">
        <br>
        <input class="input" type="password" name="u_password" placeholder="비밀번호">
        <br>

        <div style="width:300px; margin: 0 auto; font-size:10px;">
          <span style="float:left;">
            <a href="id_find.html">아이디</a>
            <a href="pw_find.html">비밀번호 찾기</a>
          </span>
          <span style="float:right;">
            <a href="join.html">회원가입</a>
          </span>
          <br>
        </div>
        <div>
          <p></p>
          <button class="button" type="submit">LOGIN</button>
        </div>
    </div>
  </div>
  </form>
</body>

</html>