<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/js/nav.js' %}">
    
    <title>PROJECT</title>
</head>
<body>
    
    <div id="nav_menu">

    
        <nav class="navBar">
            <div class="logo"><a style="color: #000; text-decoration: none;"href="C:\Users\Administrator\Desktop\어플\templates\main.html">PROJECT</a></div>
            <div class="navTab"></div>
    
        <ul>
            <li><a href="file:///C:/Users/Administrator/Desktop/%EC%96%B4%ED%94%8C/templates/main.html">Home</a></li>
            <li><a href="C:\Users\Administrator\Desktop\어플\templates\calender.html">Calender</a></li>
            <li><a href="C:\Users\Administrator\Desktop\어플\templates\board\index.html">Board</a></li>
            <li><a href="C:\Users\Administrator\Desktop\어플\templates\setting.html">Setting</a></li>
            <li><a href="C:\Users\Administrator\Desktop\어플\templates\login.html">Login</a></li>
    
    
        </ul>
        </div>
    

        <h1 class="doList-title">LIFE & STYLE</h1>
       

            <div class="container">
                <div class="box">
                  <img src="{% static '/img/1.jpg' %}">
                  <span>Casual Look</span>
                </div>
                <div class="box">
                  <img src="static/img/2.jpg">
                  <!-- <img src="https://image.musinsa.com/images/goods_img/20180406/750908/750908_6_320.jpg"> -->
                  <span>Business Look</span>
                </div>
                <div class="box">
                  <img src="{% static '/img/3.jpg' %}">
                  <span>Amekaji Look</span>
                </div>
                <div class="box">
                  <img src="{% static '/img/4.jpg' %}">
                  <span>Street Look</span>
                </div>
              </div>

        </ul>
    </div>
</article>



    
</body>

<footer class="footer"></footer>


<script src="{% static '/js/ver.js' %}"></script>


</body>
</html>
