<!DOCTYPE html>
<!--pw_find.html-->
<html>
<head>
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        p {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="jb-container">
        <div class="jb-item">
            <div id="header">
                <h3>비밀번호를 잊어버리셨나요?</h3>
            </div>
            <div style="width: 310px; height: auto; margin: 0 auto;">
                <p>아이디</p>
                <input class="input" type="text" id="id" name="id" placeholder="가입 시 등록한 아이디를 입력하세요.">
                <br>
                <p>연락처</p>
                <input class="input2" type="text" id="tel" name="tel" placeholder="전화번호를 입력하세요.">
                <input type="submit" onclick="alert('인증되었습니다')" stlye="width:65px;" value="인증하기">
                <br>
                <input class="input" type="text" id="number" name="number" placeholder="인증번호를 입력하세요.">
                <br>
           
                <div style="text-align: center;">
                    <a href="login.html"><button class="button" type="button">비밀번호 찾기</button></a>
                </div>
            </div>
        </div>
</body>

</html>