<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

  
        <h1>마이 페이지</h1>
  
     <section>
        <h4>계정 설정</h4>
        <p>내 정보</p>
        <p>푸시 알림</p>
        
    </section>

    <section>
        <h4>고객센터</h4>
        <p>공지사항</p>
        <p>자주 묻는 질문</p>
        <p>문의하기</p>
        
        
    </section>

    <section>
        <h4>서비스</h4>
        <p>로그아웃</p>
        <p>회원탈퇴</p>

    </section>


</body>
</html>