body {
    background-color: #FBFBFB;
    color: #4c4c4c;
    margin: 0 auto;
  }

  .jb-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jb-item {
    padding: 20px;
  }

  .input{
    border-right:0px;
    border-top:0px;
    border-left:0px;
    width: 300px; 
    height: 25px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .input2{
    border-right:0px; 
    border-top:0px;
    border-left:0px;
    width:220px; 
    height: 25px;
    padding: 5px;
    margin-bottom: 10px;

  }

  .button {
    color: #FBFBFB;
    background: #4c4c4c;
    font-weight: bold;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
  }